<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dampouring.model.dao.EquipmentAlertMapper">
  <resultMap id="BaseResultMap" type="com.example.dampouring.model.pojo.EquipmentAlert">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="position" jdbcType="VARCHAR" property="position" />
    <result column="alert_type" jdbcType="VARCHAR" property="alertType" />
    <result column="alert_content" jdbcType="VARCHAR" property="alertContent" />
    <result column="alert_time" jdbcType="VARCHAR" property="alertTime" />
    <result column="has_dispose" jdbcType="VARCHAR" property="hasDispose" />
    <result column="op_time" jdbcType="VARCHAR" property="opTime" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
  </resultMap>
  <sql id="Base_Column_List">
    id, position, alert_type, alert_content, alert_time, has_dispose,
    op_time, `operator`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from equipment_alert
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from equipment_alert
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.dampouring.model.pojo.EquipmentAlert">
    insert into equipment_alert (id, position, alert_type, alert_content,
      alert_time, has_dispose, op_time, 
      `operator`)
    values (#{id,jdbcType=INTEGER}, #{position,jdbcType=VARCHAR}, #{alertType,jdbcType=VARCHAR}, #{alertContent,jdbcType=VARCHAR},
      #{alertTime,jdbcType=VARCHAR}, #{hasDispose,jdbcType=VARCHAR}, #{opTime,jdbcType=VARCHAR}, 
      #{operator,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.dampouring.model.pojo.EquipmentAlert">
    insert into equipment_alert
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="position != null">
        position,
      </if>
      <if test="alertType != null">
        alert_type,
      </if>
      <if test="alertContent != null">
        alert_content,
      </if>
      <if test="alertTime != null">
        alert_time,
      </if>
      <if test="hasDispose != null">
        has_dispose,
      </if>
      <if test="opTime != null">
        op_time,
      </if>
      <if test="operator != null">
        `operator`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="position != null">
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="alertType != null">
        #{alertType,jdbcType=VARCHAR},
      </if>
      <if test="alertContent != null">
        #{alertContent,jdbcType=VARCHAR},
      </if>
      <if test="alertTime != null">
        #{alertTime,jdbcType=VARCHAR},
      </if>
      <if test="hasDispose != null">
        #{hasDispose,jdbcType=VARCHAR},
      </if>
      <if test="opTime != null">
        #{opTime,jdbcType=VARCHAR},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.dampouring.model.pojo.EquipmentAlert">
    update equipment_alert
    <set>
      <if test="position != null">
        position = #{position,jdbcType=VARCHAR},
      </if>
      <if test="alertType != null">
        alert_type = #{alertType,jdbcType=VARCHAR},
      </if>
      <if test="alertContent != null">
        alert_content = #{alertContent,jdbcType=VARCHAR},
      </if>
      <if test="alertTime != null">
        alert_time = #{alertTime,jdbcType=VARCHAR},
      </if>
      <if test="hasDispose != null">
        has_dispose = #{hasDispose,jdbcType=VARCHAR},
      </if>
      <if test="opTime != null">
        op_time = #{opTime,jdbcType=VARCHAR},
      </if>
      <if test="operator != null">
        `operator` = #{operator,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.dampouring.model.pojo.EquipmentAlert">
    update equipment_alert
    set position = #{position,jdbcType=VARCHAR},
      alert_type = #{alertType,jdbcType=VARCHAR},
      alert_content = #{alertContent,jdbcType=VARCHAR},
      alert_time = #{alertTime,jdbcType=VARCHAR},
      has_dispose = #{hasDispose,jdbcType=VARCHAR},
      op_time = #{opTime,jdbcType=VARCHAR},
      `operator` = #{operator,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <update id="processinge">
    update equipment_alert
    set has_dispose = '1'
    where id in
    <foreach collection="ids" close=")" item="id" open="(" separator=",">
      #{id}
    </foreach>
  </update>
  <select id="selectList" parameterType="com.example.dampouring.query.EquipmentAlertQue" resultType="com.example.dampouring.model.vo.EquipmentAlertVO">
    select
    aaa.id as id,
    aaa.position as position,
    aaa.alert_type as alertType,
    aaa.alert_content as alertContent,
    aaa.alert_time as alertTime,
    aaa.has_dispose as hasDispose,
    aaa.op_time as opTime,
    aaa.operator as operator
    from equipment_alert aaa
    <where>
      <if test="position != null">
        and  aaa.position =#{position}
      </if>
    </where>
  </select>

  <select id="list" resultType="com.example.dampouring.model.vo.AlertBaseVO">
    select
      aaa.id as id,
      aaa.position as position,
      aaa.alert_type as type,
      aaa.alert_content as content,
      aaa.alert_time as time,
      aaa.has_dispose as state,
      aaa.op_time as opTime,
      aaa.operator as operator,
    '3' as typeNo
    from equipment_alert aaa
    where has_dispose&lt;#{type}
  </select>

</mapper>