<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dampouring.model.dao.MaterialsTempInfoMapper">
  <resultMap id="BaseResultMap" type="com.example.dampouring.model.pojo.MaterialsTempInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="position" jdbcType="VARCHAR" property="position" />
    <result column="time" jdbcType="VARCHAR" property="time" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="materials" jdbcType="VARCHAR" property="materials" />
    <result column="temperature" jdbcType="DOUBLE" property="temperature" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="bl" jdbcType="INTEGER" property="bl" />
  </resultMap>
  <sql id="Base_Column_List">
    id, `position`, `time`, `type`, materials, temperature, `operator`,bl
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from materials_temp_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from materials_temp_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.dampouring.model.pojo.MaterialsTempInfo">
    insert into materials_temp_info (id, `position`, `time`, 
      `type`, materials, temperature, 
      `operator`)
    values (#{id,jdbcType=INTEGER}, #{position,jdbcType=VARCHAR}, #{time,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{materials,jdbcType=VARCHAR}, #{temperature,jdbcType=DOUBLE}, 
      #{operator,jdbcType=VARCHAR},#{bl,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.example.dampouring.model.pojo.MaterialsTempInfo">
    insert into materials_temp_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="position != null">
        `position`,
      </if>
      <if test="time != null">
        `time`,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="materials != null">
        materials,
      </if>
      <if test="temperature != null">
        temperature,
      </if>
      <if test="operator != null">
        `operator`,
      </if>
      <if test="bl != null">
        bl,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="position != null">
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="materials != null">
        #{materials,jdbcType=VARCHAR},
      </if>
      <if test="temperature != null">
        #{temperature,jdbcType=DOUBLE},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="bl != null">
        #{bl,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.dampouring.model.pojo.MaterialsTempInfo">
    update materials_temp_info
    <set>
      <if test="position != null">
        `position` = #{position,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        `time` = #{time,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=VARCHAR},
      </if>
      <if test="materials != null">
        materials = #{materials,jdbcType=VARCHAR},
      </if>
      <if test="temperature != null">
        temperature = #{temperature,jdbcType=DOUBLE},
      </if>
      <if test="operator != null">
        `operator` = #{operator,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.dampouring.model.pojo.MaterialsTempInfo">
    update materials_temp_info
    set `position` = #{position,jdbcType=VARCHAR},
      `time` = #{time,jdbcType=VARCHAR},
      `type` = #{type,jdbcType=VARCHAR},
      materials = #{materials,jdbcType=VARCHAR},
      temperature = #{temperature,jdbcType=DOUBLE},
      `operator` = #{operator,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="List" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"></include>
    from materials_temp_info
  </select>

  <select id="selectList" parameterType="com.example.dampouring.query.MaterialsTempInfoQue" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"></include>
    from materials_temp_info
    <where>
    <if test="startTime != null">
      and time &gt;=#{startTime}
    </if>
    <if test="endTime != null">
      and time &lt;= #{endTime}
    </if>
    <if test="position != null">
      and position =#{position}
    </if>
    <if test="materials != null">
      and materials = #{materials}
    </if>
    </where>
    order by time desc
  </select>
</mapper>