<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dampouring.model.dao.PouringTempAlertMapper">
  <resultMap id="BaseResultMap" type="com.example.dampouring.model.pojo.PouringTempAlert">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="outlet_temp" jdbcType="DOUBLE" property="outletTemp" />
    <result column="temp_norm" jdbcType="DOUBLE" property="tempNorm" />
    <result column="exceed_amount" jdbcType="DOUBLE" property="exceedAmount" />
    <result column="alert_time" jdbcType="VARCHAR" property="alertTime" />
    <result column="alert_content" jdbcType="VARCHAR" property="alertContent" />
    <result column="has_dispose" jdbcType="CHAR" property="hasDispose" />
    <result column="sb_id" jdbcType="INTEGER" property="sbId" />
    <result column="op_time" jdbcType="VARCHAR" property="opTime" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
  </resultMap>
  <sql id="Base_Column_List">
    id, outlet_temp, temp_norm, exceed_amount, alert_time,alert_content, has_dispose, sb_id, op_time,
    `operator`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pouring_temp_alert
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from pouring_temp_alert
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.dampouring.model.pojo.PouringTempAlert">
    insert into pouring_temp_alert (id, outlet_temp, temp_norm, 
      exceed_amount, alert_time,alert_content, has_dispose,
      sb_id, op_time, `operator`
      )
    values (#{id,jdbcType=INTEGER}, #{outletTemp,jdbcType=DOUBLE}, #{tempNorm,jdbcType=DOUBLE}, 
      #{exceedAmount,jdbcType=DOUBLE}, #{alertTime,jdbcType=VARCHAR},#{alertContent,jdbcType=VARCHAR}, #{hasDispose,jdbcType=CHAR},
      #{sbId,jdbcType=INTEGER}, #{opTime,jdbcType=VARCHAR}, #{operator,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.dampouring.model.pojo.PouringTempAlert">
    insert into pouring_temp_alert
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="outletTemp != null">
        outlet_temp,
      </if>
      <if test="tempNorm != null">
        temp_norm,
      </if>
      <if test="exceedAmount != null">
        exceed_amount,
      </if>
      <if test="alertTime != null">
        alert_time,
      </if>
      <if test="alertContent != null">
        alert_content,
      </if>
      <if test="hasDispose != null">
        has_dispose,
      </if>
      <if test="sbId != null">
        sb_id,
      </if>
      <if test="opTime != null">
        op_time,
      </if>
      <if test="operator != null">
        `operator`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="outletTemp != null">
        #{outletTemp,jdbcType=DOUBLE},
      </if>
      <if test="tempNorm != null">
        #{tempNorm,jdbcType=DOUBLE},
      </if>
      <if test="exceedAmount != null">
        #{exceedAmount,jdbcType=DOUBLE},
      </if>
      <if test="alertTime != null">
        #{alertTime,jdbcType=VARCHAR},
      </if>
      <if test="alertContent != null">
        #{alertContent,jdbcType=VARCHAR},
      </if>
      <if test="hasDispose != null">
        #{hasDispose,jdbcType=CHAR},
      </if>
      <if test="sbId != null">
        #{sbId,jdbcType=INTEGER},
      </if>
      <if test="opTime != null">
        #{opTime,jdbcType=VARCHAR},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.dampouring.model.pojo.PouringTempAlert">
    update pouring_temp_alert
    <set>
      <if test="outletTemp != null">
        outlet_temp = #{outletTemp,jdbcType=DOUBLE},
      </if>
      <if test="tempNorm != null">
        temp_norm = #{tempNorm,jdbcType=DOUBLE},
      </if>
      <if test="exceedAmount != null">
        exceed_amount = #{exceedAmount,jdbcType=DOUBLE},
      </if>
      <if test="alertTime != null">
        alert_time = #{alertTime,jdbcType=VARCHAR},
      </if>
      <if test="alertTime != null">
        alert_content = #{alertContent,jdbcType=VARCHAR},
      </if>
      <if test="hasDispose != null">
        has_dispose = #{hasDispose,jdbcType=CHAR},
      </if>
      <if test="sbId != null">
        sb_id = #{sbId,jdbcType=INTEGER},
      </if>
      <if test="opTime != null">
        op_time = #{opTime,jdbcType=VARCHAR},
      </if>
      <if test="operator != null">
        `operator` = #{operator,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.dampouring.model.pojo.PouringTempAlert">
    update pouring_temp_alert
    set outlet_temp = #{outletTemp,jdbcType=DOUBLE},
      temp_norm = #{tempNorm,jdbcType=DOUBLE},
      exceed_amount = #{exceedAmount,jdbcType=DOUBLE},
      alert_time = #{alertTime,jdbcType=VARCHAR},
        alert_content = #{alertContent,jdbcType=VARCHAR},
      has_dispose = #{hasDispose,jdbcType=CHAR},
      sb_id = #{sbId,jdbcType=INTEGER},
      op_time = #{opTime,jdbcType=VARCHAR},
      `operator` = #{operator,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="processinge">
    update pouring_temp_alert
    set has_dispose = '1'
    where id in
    <foreach collection="ids" close=")" item="id" open="(" separator=",">
      #{id}
    </foreach>
  </update>
  <select id="selectList" parameterType="com.example.dampouring.query.AlertQue" resultType="com.example.dampouring.model.vo.PouringTempAlertVO">
    select
    aaa.id as id,
    s.small_sb_no as sbNo,
    aaa.outlet_temp as outletTemp,
    aaa.temp_norm as tempNorm,
    aaa.exceed_amount as exceedAmount,
    aaa.alert_time as alertTime,
    aaa.alert_content as alertContent,
    aaa.has_dispose as hasDispose,
    aaa.op_time as opTime,
    aaa.operator as operator
    from pouring_temp_alert aaa
    left join small_storage_bin s on aaa.sb_id = s.id
    <where>
      <if test="sbId != null">
        and  aaa.sb_id =#{sbId}
      </if>
    </where>
  </select>

  <select id="list" resultType="com.example.dampouring.model.vo.AlertBaseVO">
    select
      aaa.id as id,
      s.small_sb_no as position,
      aaa.alert_time as time,
      '浇筑温度预警' as type,
      aaa.alert_content as content,
      aaa.has_dispose as state,
      aaa.op_time as opTime,
      aaa.operator as operator,
      '11' as typeNo
    from pouring_temp_alert aaa
      left join small_storage_bin s on aaa.sb_id = s.id
    where
      has_dispose&lt;#{type}
  </select>
  <select id="normInfo" parameterType="java.lang.Integer" resultType="com.example.dampouring.model.vo.MaxTempNormVO">
    SELECT
      stb.ds_start as ds,
      stb.id as sbId,
      stb.small_sb_no as sbNo,
      tcni.pouring_temp as maxTemp
    from pouring_base pb,small_storage_bin stb, temp_control_partition tcp, temp_control_norm_info tcni
    WHERE pb.id = #{pouringBaseId} and pb.small_sb_id=stb.id
      and tcp.ds_start&lt;=stb.ds_start and tcp.ds_end&gt;=stb.ds_start
      and tcp.elevation_start&lt;=stb.elevation_start and tcp.elevation_end&gt;=stb.elevation_start
      and tcp.temp_control_type_id = tcni.temp_control_id
      and tcni.month = (select MONTH(CURDATE()))
  </select>
</mapper>