<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dampouring.model.dao.SmartBwMdangMapper">
  <resultMap id="BaseResultMap" type="com.example.dampouring.model.pojo.SmartBwMdang">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="ds_name" jdbcType="VARCHAR" property="dsName" />
    <result column="time" jdbcType="VARCHAR" property="time" />
    <result column="piles" jdbcType="INTEGER" property="piles" />
  </resultMap>
  <sql id="Base_Column_List">
    id, ds_name, `time`, piles
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from smart_bw_mdang
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from smart_bw_mdang
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteAll">
    delete from smart_bw_mdang
  </delete>
  <insert id="insert" parameterType="com.example.dampouring.model.pojo.SmartBwMdang">
    insert into smart_bw_mdang (id, ds_name, `time`, 
      piles)
    values (#{id,jdbcType=INTEGER}, #{dsName,jdbcType=VARCHAR}, #{time,jdbcType=VARCHAR}, 
      #{piles,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.example.dampouring.model.pojo.SmartBwMdang">
    insert into smart_bw_mdang
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="dsName != null">
        ds_name,
      </if>
      <if test="time != null">
        `time`,
      </if>
      <if test="piles != null">
        piles,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="dsName != null">
        #{dsName,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=VARCHAR},
      </if>
      <if test="piles != null">
        #{piles,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.dampouring.model.pojo.SmartBwMdang">
    update smart_bw_mdang
    <set>
      <if test="dsName != null">
        ds_name = #{dsName,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        `time` = #{time,jdbcType=VARCHAR},
      </if>
      <if test="piles != null">
        piles = #{piles,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.dampouring.model.pojo.SmartBwMdang">
    update smart_bw_mdang
    set ds_name = #{dsName,jdbcType=VARCHAR},
      `time` = #{time,jdbcType=VARCHAR},
      piles = #{piles,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"></include>
    from smart_bw_mdang
  </select>
</mapper>