<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dampouring.model.dao.StorageColdAlertMapper">
  <resultMap id="BaseResultMap" type="com.example.dampouring.model.pojo.StorageColdAlert">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="age" jdbcType="DOUBLE" property="age" />
    <result column="temp_curr" jdbcType="DOUBLE" property="tempCurr" />
    <result column="temp_target" jdbcType="DOUBLE" property="tempTarget" />
    <result column="cold_amount" jdbcType="DOUBLE" property="coldAmount" />
    <result column="alert_type" jdbcType="VARCHAR" property="alertType" />
    <result column="alert_content" jdbcType="VARCHAR" property="alertContent" />
    <result column="alert_time" jdbcType="VARCHAR" property="alertTime" />
    <result column="has_dispose" jdbcType="CHAR" property="hasDispose" />
    <result column="sb_id" jdbcType="INTEGER" property="sbId" />
    <result column="op_time" jdbcType="VARCHAR" property="opTime" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
  </resultMap>
  <sql id="Base_Column_List">
    id, age, temp_curr, temp_target, cold_amount, alert_type, alert_content, alert_time, 
    has_dispose, sb_id, op_time, `operator`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from storage_cold_alert
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from storage_cold_alert
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.dampouring.model.pojo.StorageColdAlert">
    insert into storage_cold_alert (id, age, temp_curr, 
      temp_target, cold_amount, alert_type, 
      alert_content, alert_time, has_dispose, 
      sb_id, op_time, `operator`
      )
    values (#{id,jdbcType=INTEGER}, #{age,jdbcType=DOUBLE}, #{tempCurr,jdbcType=DOUBLE}, 
      #{tempTarget,jdbcType=DOUBLE}, #{coldAmount,jdbcType=DOUBLE}, #{alertType,jdbcType=VARCHAR}, 
      #{alertContent,jdbcType=VARCHAR}, #{alertTime,jdbcType=VARCHAR}, #{hasDispose,jdbcType=CHAR}, 
      #{sbId,jdbcType=INTEGER}, #{opTime,jdbcType=VARCHAR}, #{operator,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.dampouring.model.pojo.StorageColdAlert">
    insert into storage_cold_alert
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="age != null">
        age,
      </if>
      <if test="tempCurr != null">
        temp_curr,
      </if>
      <if test="tempTarget != null">
        temp_target,
      </if>
      <if test="coldAmount != null">
        cold_amount,
      </if>
      <if test="alertType != null">
        alert_type,
      </if>
      <if test="alertContent != null">
        alert_content,
      </if>
      <if test="alertTime != null">
        alert_time,
      </if>
      <if test="hasDispose != null">
        has_dispose,
      </if>
      <if test="sbId != null">
        sb_id,
      </if>
      <if test="opTime != null">
        op_time,
      </if>
      <if test="operator != null">
        `operator`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="age != null">
        #{age,jdbcType=DOUBLE},
      </if>
      <if test="tempCurr != null">
        #{tempCurr,jdbcType=DOUBLE},
      </if>
      <if test="tempTarget != null">
        #{tempTarget,jdbcType=DOUBLE},
      </if>
      <if test="coldAmount != null">
        #{coldAmount,jdbcType=DOUBLE},
      </if>
      <if test="alertType != null">
        #{alertType,jdbcType=VARCHAR},
      </if>
      <if test="alertContent != null">
        #{alertContent,jdbcType=VARCHAR},
      </if>
      <if test="alertTime != null">
        #{alertTime,jdbcType=VARCHAR},
      </if>
      <if test="hasDispose != null">
        #{hasDispose,jdbcType=CHAR},
      </if>
      <if test="sbId != null">
        #{sbId,jdbcType=INTEGER},
      </if>
      <if test="opTime != null">
        #{opTime,jdbcType=VARCHAR},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.dampouring.model.pojo.StorageColdAlert">
    update storage_cold_alert
    <set>
      <if test="age != null">
        age = #{age,jdbcType=DOUBLE},
      </if>
      <if test="tempCurr != null">
        temp_curr = #{tempCurr,jdbcType=DOUBLE},
      </if>
      <if test="tempTarget != null">
        temp_target = #{tempTarget,jdbcType=DOUBLE},
      </if>
      <if test="coldAmount != null">
        cold_amount = #{coldAmount,jdbcType=DOUBLE},
      </if>
      <if test="alertType != null">
        alert_type = #{alertType,jdbcType=VARCHAR},
      </if>
      <if test="alertContent != null">
        alert_content = #{alertContent,jdbcType=VARCHAR},
      </if>
      <if test="alertTime != null">
        alert_time = #{alertTime,jdbcType=VARCHAR},
      </if>
      <if test="hasDispose != null">
        has_dispose = #{hasDispose,jdbcType=CHAR},
      </if>
      <if test="sbId != null">
        sb_id = #{sbId,jdbcType=INTEGER},
      </if>
      <if test="opTime != null">
        op_time = #{opTime,jdbcType=VARCHAR},
      </if>
      <if test="operator != null">
        `operator` = #{operator,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.dampouring.model.pojo.StorageColdAlert">
    update storage_cold_alert
    set age = #{age,jdbcType=DOUBLE},
      temp_curr = #{tempCurr,jdbcType=DOUBLE},
      temp_target = #{tempTarget,jdbcType=DOUBLE},
      cold_amount = #{coldAmount,jdbcType=DOUBLE},
      alert_type = #{alertType,jdbcType=VARCHAR},
      alert_content = #{alertContent,jdbcType=VARCHAR},
      alert_time = #{alertTime,jdbcType=VARCHAR},
      has_dispose = #{hasDispose,jdbcType=CHAR},
      sb_id = #{sbId,jdbcType=INTEGER},
      op_time = #{opTime,jdbcType=VARCHAR},
      `operator` = #{operator,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="processinge">
    update storage_cold_alert
    set has_dispose = '1'
    where id in
    <foreach collection="ids" close=")" item="id" open="(" separator=",">
      #{id}
    </foreach>
  </update>
  <select id="selectList" parameterType="com.example.dampouring.query.AlertQue" resultType="com.example.dampouring.model.vo.StorageColdAlertVO">
    select
    aaa.id as id,
    s.small_sb_no as sbNo,
    TIMESTAMPDIFF(DAY, p.close_time, now()) AS age,
    aaa.temp_curr as tempCurr,
    aaa.temp_target as tempTarget,
    aaa.cold_amount as coldAmount,
    aaa.alert_time as alertTime,
    aaa.alert_type as alertType,
    aaa.alert_content as alertContent,
    aaa.has_dispose as hasDispose,
    aaa.op_time as opTime,
    aaa.operator as operator
    from storage_cold_alert aaa
    left join small_storage_bin s on aaa.sb_id = s.id
    LEFT JOIN pouring_base p on s.id = p.small_sb_id
    <where>
      <if test="sbId != null">
        and  aaa.sb_id =#{sbId}
      </if>
    </where>
  </select>

  <select id="list" resultType="com.example.dampouring.model.vo.AlertBaseVO">
    select
      aaa.id as id,
      s.small_sb_no as position,
    aaa.alert_type as type,
    aaa.alert_content as content,
    aaa.alert_time as time,
    aaa.has_dispose as state,
    aaa.op_time as opTime,
    aaa.operator as operator,
    '13' as typeNo
    from storage_cold_alert aaa
      left join small_storage_bin s on aaa.sb_id = s.id
    where
      has_dispose&lt;#{type}
  </select>
  <select id="normInfo" parameterType="java.lang.Integer" resultType="com.example.dampouring.model.vo.MaxTempNormVO">
    SELECT its.id as itsId,
           stb.ds_start as ds,
           stb.id as sbId,
           stb.small_sb_no as sbNo,
           tcni.min_temp as minTemp
    from inner_temp_sensor its,small_storage_bin stb, temp_control_partition tcp, temp_control_norm_info tcni
    WHERE its.id = #{itsId} and its.sb_id=stb.id
      and tcp.ds_start&lt;=stb.ds_start and tcp.ds_end&gt;=stb.ds_start and  tcp.temp_control_type_id = tcni.temp_control_id
      and tcni.month = (select MONTH(CURDATE()))
  </select>
</mapper>