<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dampouring.model.dao.WaterReversingDeviceMapper">
  <resultMap id="BaseResultMap" type="com.example.dampouring.model.pojo.WaterReversingDevice">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="no" jdbcType="CHAR" property="no" />
    <result column="channel_no" jdbcType="INTEGER" property="channelNo" />
    <result column="cu_id" jdbcType="INTEGER" property="cuId" />
    <result column="sb_id" jdbcType="INTEGER" property="sbId" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
  </resultMap>
  <sql id="Base_Column_List">
    id, `no`, channel_no, cu_id,sb_id, create_time, `operator`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from water_reversing_device
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectBySbId" parameterType="java.lang.Integer" resultType="com.example.dampouring.model.vo.WaterReversingDeviceVO">
    select
      i.id as id,
      ssb.small_sb_no as smallNo,
      cu.cu_addr as cuAddr,
      i.no as no,
    i.channel_no as channelNo,
    i.create_time as createTime,
    i.operator as operator
    from water_reversing_device i
      left join control_unit cu on i.cu_id=cu.id
      left join small_storage_bin ssb on i.sb_id=ssb.id
    where i.sb_id = #{sbId,jdbcType=INTEGER}
  </select>


  <select id="selectByCuIdCNo" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from water_reversing_device
    where cu_id = #{cuId,jdbcType=INTEGER} and channel_no = #{channelNo,jdbcType=INTEGER}
  </select>



  <delete id="deleteByPrimaryKey">
    delete from water_reversing_device
    where id in
    <foreach collection="ids" close=")" item="id" open="(" separator=",">
      #{id}
    </foreach>
  </delete>
  <insert id="insert" parameterType="com.example.dampouring.model.pojo.WaterReversingDevice">
    insert into water_reversing_device (id, `no`, channel_no, 
      cu_id,sb_id, create_time, `operator`
      )
    values (#{id,jdbcType=INTEGER}, #{no,jdbcType=CHAR}, #{channelNo,jdbcType=INTEGER}, 
      #{cuId,jdbcType=INTEGER},#{sbId,jdbcType=INTEGER}, #{createTime,jdbcType=VARCHAR}, #{operator,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.dampouring.model.pojo.WaterReversingDevice">
    insert into water_reversing_device
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="no != null">
        `no`,
      </if>
      <if test="channelNo != null">
        channel_no,
      </if>
      <if test="cuId != null">
        cu_id,
      </if>
      <if test="sbId != null">
        sb_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="operator != null">
        `operator`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="no != null">
        #{no,jdbcType=CHAR},
      </if>
      <if test="channelNo != null">
        #{channelNo,jdbcType=INTEGER},
      </if>
      <if test="cuId != null">
        #{cuId,jdbcType=INTEGER},
      </if>
      <if test="sbId != null">
        #{sbId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.dampouring.model.pojo.WaterReversingDevice">
    update water_reversing_device
    <set>
      <if test="no != null">
        `no` = #{no,jdbcType=CHAR},
      </if>
      <if test="channelNo != null">
        channel_no = #{channelNo,jdbcType=INTEGER},
      </if>
      <if test="cuId != null">
        cu_id = #{cuId,jdbcType=INTEGER},
      </if>
      <if test="sbId != null">
        sb_id = #{sbId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="operator != null">
        `operator` = #{operator,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.dampouring.model.pojo.WaterReversingDevice">
    update water_reversing_device
    set `no` = #{no,jdbcType=CHAR},
      channel_no = #{channelNo,jdbcType=INTEGER},
      cu_id = #{cuId,jdbcType=INTEGER},
      sb_id = #{sbId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=VARCHAR},
      `operator` = #{operator,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectList" resultType="com.example.dampouring.model.vo.WaterReversingDeviceVO">
    select
      i.id as id,
      ssb.small_sb_no as smallNo,
      cu.cu_addr as cuAddr,
      i.no as no,
      i.channel_no as channelNo,
      i.create_time as createTime,
      i.operator as operator
    from water_reversing_device i
           left join control_unit cu on i.cu_id=cu.id
           left join small_storage_bin ssb on i.sb_id=ssb.id
  </select>

  <select id="selectListByQue" resultType="com.example.dampouring.model.vo.WaterReversingDeviceVO" parameterType="com.example.dampouring.query.WaterReversingDeviceQue">
    select
      i.id as id,
      ssb.small_sb_no as smallNo,
      cu.cu_addr as cuAddr,
      i.no as no,
      i.channel_no as channelNo,
      i.create_time as createTime,
      i.operator as operator
    from water_reversing_device i
      left join control_unit cu on i.cu_id=cu.id
      left join small_storage_bin ssb on i.sb_id=ssb.id
    <where>
      <if test="sbId != null">
        and  i.sb_id=#{sbId}
      </if>
    </where>
  </select>
  <select id="selectByComputing" resultType="com.example.dampouring.model.vo.WaterReversingDeviceVO">
    select
    DISTINCT cu_addr as cuAddr,channel_no as channelNo
    from water_reversing_device wrd
    LEFT JOIN control_unit cu on cu.id=wrd.cu_id

  </select>
  <select id="selectListByIds" resultType="com.example.dampouring.model.vo.WaterReversingDeviceVO">
    select
    i.id as id,
    ssb.small_sb_no as smallNo,
    cu.cu_addr as cuAddr,
    i.no as no,
    i.channel_no as channelNo,
    i.create_time as createTime,
    i.operator as operator
    from water_reversing_device i
    left join control_unit cu on i.cu_id=cu.id
    left join small_storage_bin ssb on i.sb_id=ssb.id
    where i.id in
    <foreach close=")" collection="ids" item="id" open="(" separator=",">
      #{id}
    </foreach>
  </select>
</mapper>